@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "../components/Navbar/styles.css";
@import "../components/Logo/styles.css";

:root {
  --background: #ffffff;
  --foreground: #000;
  -webkit-font-smoothing: antialiased;
}

svg {
  transform: translate3d(0, 0, 0);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
} */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

body {
  color: var(--foreground);
  font-family: "ABCCameraPlainVariable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  height: 100%;
  position: relative;
}

table {
  border-spacing: 0;
}

th,
tr {
  font-weight: 400;
  text-align: left;
}
