$background-color: #fff;
$foreground-color: #000;

$grid-opacity-active: 0.5;
$grid-opacity-disabled: 0;

$grid-margin-sm: 8px;
$grid-margin-mobile: 24px;
$grid-margin-tablet: 0;
$grid-margin-large: 50px;
