.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo__svg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
.logo__svg-text {
  cursor: pointer;
  width: 100%;
}

.logo__svg-copy {
  cursor: pointer;
  pointer-events: all;
}

.logo__copy-button {
  width: calc(9% - 5px + 2.3vw);
  height: calc(5% - 5px + 3.3vw);
  position: absolute;
  top: calc(58% - 10px + 4.2vw);
  left: calc(61% - 20px + 1.2vw);
  z-index: 6;
}

.logo__logo-button {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: 5;
  top: 0;
  left: 0;
}

@media (max-width: $tablet-breakpoint) {
  .logo__copy-button {
    width: calc(13% - 5px + 1.4vw);
    height: calc(3% - 5px + 3.3vw);
    top: calc(53% - 10px + 4.2vw);
    left: calc(60% - 10px + 1.2vw);
  }
  .logo__logo-button {
    height: 17vw;
  }
}
@media (max-width: $sm-breakpoint) {
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo__logo-button {
    height: 100%;
  }
}

.logo-sm-alternative {
  height: 8.5vw;
}
